*{
  margin:0;
  padding:0 ;
  box-sizing: border-box !important;
}
 body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
   background: #f4f4f4;
}

.phone{
  position:relative;
  margin:4% auto;
  width:360px;
  height:660px;
  border:1px solid #e6e6e6;
  border-radius:8px;
  overflow:hidden;
  background:#fff;
}

.header{
  position:relative;
  padding:25px;
  width:100%;
  background: linear-gradient(to right, #ff416c, #ff4b2b); 
  color:#ffffff;
  line-height:28px !important;
}
.removeText{
  font-weight:bolder;
  cursor:pointer;
  padding:4px 15px;
  display:inline;
  border-radius:30px;
  text-align:center;
  border:1px solid #fff;
}

.header p{
  font-size:14px; 
}

.todo-body{
  position:relative;  
  width:100%;
  height:500px;
  overflow-y:scroll;
}

.todo-body::-webkit-scrollbar{
    background:transparent;
  width:1px;
}
.todo-list{
    list-style:none;
}

.todo-list .todo-item{
    padding:20px;
    border-bottom:1px solid #e7e7e7;
    color:#717171;
}

.todo-item.checked{
  text-decoration: line-through;
}

input[type="checkbox"]{
    position:relative;
    top:3px;
    margin-right:10px;
    width:17px;
    height:17px;

}

.todoInput{
  position:absolute;
  bottom:0;
  left:0;
  padding:20px;
  width:100%;
  border:0;
  border-top: 1px solid #e7e7e7;
}

