.wrapper
  h1 Answered Questions
  .pie-charts

    .pieID--micro-skills.pie-chart--wrapper
      h2 Micro-Skills
      .pie-chart
        .pie-chart__pie
        ul.pie-chart__legend
          li
            em Additive
            span 642
          li
            em Multiplicative
            span 358

    .pieID--categories.pie-chart--wrapper
      h2 Categories
      .pie-chart
        .pie-chart__pie
        ul.pie-chart__legend
          li
            em Horizontal
            span 768
          li
            em Vertical
            span 232

    .pieID--operations.pie-chart--wrapper
      h2 Operations
      .pie-chart
        .pie-chart__pie
        ul.pie-chart__legend
          li
            em Addition
            span 486
          li
            em Subtraction
            span 156
          li
            em Multiplication
            span 215
          li
            em Division
            span 143
